body {
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
  }
  
  h1,
  h2,
  h3 {
    font-weight: 900;
    font-family: "Poppins";
  }
  
  h1 {
    font-size: 3.5rem;
  }
  
  h2 {
    font-size: 2.5rem;
  }
  
  h3 {
    display: inline;
    font-size: 1.5rem;
  }
  

  .wrapper{
    display: flex;
    position: relative;
  }
  
  .wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0px;
    position: fixed;
  }
  
  .wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
  }
  
  .wrapper .sidebar ul li a .fas{
    width: 25px;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: #594f8d;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #fff;
  }
   
  .wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }





  /* Brand Name */
  .brand {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  /* Containers */
  
  
  /* Images */
  
  .lamp-img {
    width: 85%;
  }
  
  .textbooks-img {
    position: relative;
    top: 10rem;
    width: 120%;
    transform: rotate(2deg);
  }
  
  @media (max-width: 1028px) {
    .lamp-img {
      display: none;
    }
  }
  
  @media (max-width: 1153px) {
    .textbooks-img {
      transform: rotate(0deg);
      position: static;
    }
  }
  
  .logo-img {
    width: 20%;
    margin-right: 2.5%;
  }
  
  /* Title Section */
  #title {
    background-color: #112031;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  
  
  #title-text {
    padding-top: 2%;
    font-size: 3rem;
    font-weight: 700;
  }
  
  /* Buttons */
  
  .btn {
    margin: 2% 3% 5% 0;
    border-radius: 28px;
    font-family: "Open Sans";
    size: 0.5rem;
  }
  
  .intro-btn {
    padding: 1% 5%;
  }
  
  .cta-btn {
    margin-top: 3%;
    padding: 1% 3%;
  }
  
  /* Product Examples */
  #product-showcase {
    padding: 7% 15%;
    background-color: #152d35;
  }
  
  .example1 {
    text-align: left;
  }
  
  .example2 {
    text-align: right;
  }
  
  .product-example-text {
    padding-top: 5%;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 400;
    float: left;
  }
  
  /* Testimonial Section */
  
  #testimonials {
    padding: 7% 0%;
    line-height: 1.5rem;
    background-color: #345b63;
  }
  
  .testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
    height: 10%;
  }
  
  /* CTA Section */
  
  #cta {
    padding: 7% 0%;
    line-height: 1.5rem;
    background-color: #152d35;
  }
  
  /* Footer */
  #footer {
    padding: 3% 0%;
    line-height: 1.5rem;
    background-color: #345b63;
  }
  
  .footer-icon {
    margin: 1.5% 1%;
  }
  
  /* .btn-1 {
        border-radius: 28px;
        box-shadow: 5px 5px 3px #161616;
        font-family: "Open Sans";
        color: #ffffff;
        font-size: 1.2rem;
        background: #152D35;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        position: relative;
        bottom: 1%;
    }
    
    .btn-1:hover {
        background: #345B63;
        background-image: linear-gradient(top, #345B63, #D4ECDD);
    
    
    } */
  