/*To do:
-Add messaging and user stats css
-Make CSS responsive
-Add logo
*/
body{
  background-color: #112031;
}
.userSearch{
  margin:auto;
  margin-top: 50px;
  border: 50px, transparent;
  border-radius: 30px;
  width: 500px;
  height: 50px;
  padding: 30px;
  background-color: #D4ECDD; 
}

.searchInput{
  outline: none;
  border: none;
  float: left;
  border-radius: 30px;
  color: #112031;
  font-family: "Sans Serif", ;
  font-size: x-large;
  padding:15px;
  padding-right: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: whitesmoke;
}

.friendsListContainer{
  margin:auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 50px, transparent;
  border-radius: 30px;
  width: 500px;
  height: 250px;
  padding: 30px;
  background-color: #D4ECDD; 
  text-align: center;
  /*When the friend list gets too long a scroll bar appears*/
  overflow:scroll;
}
