body {
  background-color: #152d35;
  color: #ffff;
  text-align: center;
}
h1 {
  font-weight: 900;
  font-family: "Poppins";
  font-size: 3.5rem;
}

/* Navbar */
#navbar {
  background-color: #112031;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.brand {
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-container {
  padding: 2% 8%;
  font-size: 3rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.logo-img {
  width: 20%;
}

/* Header */
.header {
  padding: 2% 8%;
  margin-top: 3%;
}

#title-text {
  padding-top: 2%;
  font-size: 3rem;
  font-weight: 700;
}
.intro-btn {
  margin-top: 2%;
  padding: 1% 5%;
}

/* Footer */
#footer {
  padding: 7% 0%;
  margin-bottom: 0%;
  line-height: 1.5rem;
  background-color: #152d35;
}

.footer-icon {
  margin: 1.5% 1%;
}
