* {
  list-style: none;
  text-decoration: none;
}

body {
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 900;
  font-family: "Poppins";
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  display: inline;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}

li {
  padding: 5%;
  border-bottom: 1px solid #ffffff;
}

li a {
  color: #ffffff;
  display: block;
  font-size: 1rem;
  margin-top: 10px;
}

/* Title */
#title {
  background-color: #112031;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 7% 5%;
}

#title-text {
  padding-top: 2%;
  font-size: 3rem;
  font-weight: 700;
}

/* Navbar */

.logo-img {
  width: 7.5%;
  margin-left: 2%;
}

@media (max-width: 1024px) {
  .logo-img {
    width: 15%;
  }
}

.sidebar {
  width: 0;
  overflow-x: hidden;
  height: 100%;
  background: #345b63;
  padding: 30px 0;
  position: fixed;
  text-decoration: underline;
  transition: 1s;
  top: 0;
  left: 0;
  z-index: 1;
}

.brand {
  font-size: 1.5rem;
  font-weight: 600;
}

.name-and-logo {
  height: 5%;
  text-align: right;
}
.nav-text {
  font-size: 2rem;
  text-align: none;
  font-weight: 700;
  padding: 5% 5%;
}

@media (max-width: 1300px) {
  .sidebar h2 {
    display: none;
  }
}

.sidebar h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 3%;
  font-size: 1.5rem;
  padding: 5%;
}

.fas {
  width: 25px;
}

li:hover {
  background-color: #96a19a;
}

li:hover a {
  color: #fff;
}

.nav-container {
  background-color: #112031;
  font-size: 3rem;
}

.navbar-container {
  display: none;
}

@media (max-width: 550px) {
  .nav-container {
    display: none;
  }
  .name-and-logo {
    display: none;
  }
  .open-btn {
    display: none;
  }
  .navbar-container {
    display: block;
  }
  .sidebar {
    display: none;
  }
  li {
    all: unset;
  }
  a {
    all: unset;
  }
}
/* Footer */

#footer {
  padding: 3% 0%;
  line-height: 1.5rem;
  background-color: #112031;
}

.footer-icon {
  margin: 1.5% 1%;
}


/* Butttons */

.open-btn {
  border-radius: 13px;
  font-size: 20px;
  background: #345b63;
  border: solid #ffffff 1px;
  text-decoration: none;
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 0;
}

.open-btn:hover {
  background: #3f646b;
  text-decoration: none;
}

.close-btn {
  border-radius: 13px;
  font-size: 20px;
  background: #345b63;
  padding: 5px 11px;
  border: solid #ffffff 1px;
  text-decoration: none;
  margin-right: 2%;
  display: block;
  margin-left: 70%;
}

.close-btn:hover {
  background: #3f646b;
  text-decoration: none;
}

c

/* Main */
.top-half {
  background-color: #33464d;
  height: 50%;
}

.bottom-half {
  background-color: #152d35;
  padding: 3% 0%;
}

.lower-screen-btn {
  border-radius: 13px;
  font-size: 20px;
  padding: 5%;
  background: #345b63;
  border: solid #ffffff 1px;
  text-decoration: none;
}
